
.checkout-container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proceed-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.proceed-btn:hover {
  background-color: #218838;
}

.popup-content {
  padding: 20px;
  text-align: center;
}

.popup-content h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  text-align: center;
}


.popup-content button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content img {
  width: 50px;
  height: auto;
  margin-bottom: 20px;
}

